<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head"></head>
<body>

	<header th:replace="plantilla/plantilla :: header"></header>

	<div class="container py-1">

		<div class="card bg-dark">

			<!-----------------------------TÍTULO -------------------------------------->
			<div
				class="card-header text-warning font-weight-bold N h2 text-center"
				th:text="${titulo}"></div>
			<div class="card-body">

				<!-----------------------FORMULARIO--------------------->
				<form th:action="@{/usuario/form}" th:object="${usuario}"
					method="post" enctype="multipart/form-data">

					<!-- --------------------------USERNAME ---------------------------------->
					<div class="form-group row">
						<label class="col-sm-3 col-form-label text-light text-right">Username</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{username}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
						</div>
					</div>
					<!----------------------------PASSWORD ---------------------------------->
					<div class="form-group row">
						<label for="password"
							class="col-sm-3 col-form-label text-light text-right">Password</label>
						<div class="col-sm-6">
							<input type="password" th:field="*{password}" id="password"
								class="form-control"> <small
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="form-text text-danger"></small>

						</div>


					</div>

					<!-----------------------------ROL------------------------------------>
					<div class="form-group row text-light text-right">
						<label class="col-sm-3 col-form-label text-light text-right">Roles</label>
						<div th:each="role: ${listaRoles}">
							<input class="mx-2" type="checkbox" th:field="*{roles}"
								th:value="${role.id}"
								th:errorclass="'form-control alert-danger'"> <label
								th:for="${#ids.prev('roles')}" th:text="${role.nombre}"></label>&nbsp;&nbsp;

						</div>
						<small th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
							class="form-text text-danger"></small>

					</div>



					<!----------------------------NOMBRE ----------------------------------------------->
					<div class="form-group row">
						<label class="col-sm-3 col-form-label text-light text-right">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombre}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>

					<!------------------------------APELLIDO ------------------------------------->
					<div class="form-group row">
						<label class="col-sm-3 col-form-label text-light text-right">Apellido</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{apellido}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
						</div>
					</div>

					<!-- ---------------------------EMAIL------------------------------------>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label text-light text-right">Email</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{email}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>

					<!-----------------------------FOTO--------------------------------->

					<div class="form-group row">
						<label for="file"
							class="col-sm-3 col-form-label text-light text-right">FOTO</label>
						<div class="col-sm-6">
							<input type="file" name="file" class="form-control" />
						</div>
					</div>

					<!---------------------------HABILITAR------------------------------->
					<div class="form-group row mx-2">
						<label for="enabled"
							class="col-sm-3 col-form-label text-light text-right">Habilitar</label>
						<div class="row col-sm-4">
							<input type="checkbox" id="enabled" th:field="*{enabled}"
								class="form-control col-sm-1">
						</div>
					</div>

					<!-------------------------BOTÓN SUBMIT--------------------------->
					<div class="form-group row">
						<input type="submit" value="Guardar Usuario"
							class="btn btn-secondary d-block mx-auto" />
					</div>
				</form>
				<!-----------------------FIN FORMULARIO--------------------->
				<!--------------------BOTÓN VOLVER ------------------------>
				<div class="row justify-content-start">
					<div class="col-auto m-5">
						<!-- Botón que usa JavaScript para ir a la última ruta -->
						<button class="btn btn-outline-light px-5" onclick="goBack()">«
							Volver</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function goBack() {
			if (document.referrer) {
				window.history.back(); // Retrocede si hay una página anterior en el historial
			} else {
				window.location.href = "/usuario/listar"; // Redirige a una página predeterminada si no hay historial
			}
		}
	</script>
	<footer th:replace="plantilla/plantilla :: footer"></footer>
</body>