<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/plantilla  :: head"></head>
<body>

	<header th:replace="plantilla/plantilla  :: header"></header>

	<div class="container py-1 h-100">
		<div
			class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 md-8 col-lg-10 col-xl-12">
				<div class="card bg-dark text-white" style="border-radius: 1rem;">
					<div class="card-body p-5 text-center">
						<!----------------------------------TÍTULO ----------------------------------------------->

						<div
							class="card-header text-warning font-weight-bold N h2 text-center"
							th:text="${titulo}"></div>


						<div class="card-body">

							<!-----------------ENLACE A CREAR USUARIO-------------------------------------->

							<h4 class="card-title text-center">
								<a sec:authorize="hasRole('ROLE_ADMIN')"
									th:href="@{/usuario/form}" class="btn btn-secondary d-block">crear
									Usuario</a>
							</h4>

							<!------------- LISTADO DE USUARIOS------------------------------------------>

							<div class="list-group">
								<div
									class=" btn btn-outline-light list-group-item list-group-item-action flex-column align-items-start text-white bg-dark"
									th:each="usuario: ${usuarios}">
									<div class="d-flex w-100 justify-content-between">
										<h4 class="mb-1 " th:text="${usuario.username}"></h4>
										<small class="text-muted"
											th:text="${usuario.nombre} + ' ' + ${usuario.apellido}"></small>

									</div>
									<br> <a class="btn btn-secondary btn-sm"
										th:href="@{/usuario/ver/} + ${usuario.id}" th:text="detalles"></a>
									<a sec:authorize="hasRole('ROLE_ADMIN')"
										class="btn btn-primary btn-sm"
										th:href="@{/usuario/form/} + ${usuario.id}" th:text="'editar'"></a>
									<a sec:authorize="hasRole('ROLE_ADMIN')"
										class="btn btn-danger btn-sm"
										th:href="@{/usuario/eliminar/} + ${usuario.id}"
										th:text="'eliminar'"
										onclick="return confirm('Estás seguro que deseas eliminar el usuario?');"></a>


								</div>
								<br> <br>
							</div>
							<div>
								<nav th:replace="plantilla/paginator-nav :: paginator"></nav>
							</div>

							<!--------------------------- botones -------------------------------------->

							<div class="row justify-content-center">
								<div class="col-auto m-5">
									<a class="btn btn-outline-light px-5" th:href="@{'/index'}"
										th:text="'principal'"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="plantilla/plantilla  :: footer"></footer>
</body>

</html>