<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="plantilla/plantilla :: head"></head>
<body>

	<header th:replace="plantilla/plantilla :: header"></header>

	<div class="container py-1 h-100">
		<div
			class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 md-8 col-lg-10 col-xl-12">
				<div class="card bg-dark" style="border-radius: 1rem;">
					<div class="card-body p-5">
						<div
							class="card-header text-warning font-weight-bold N h2 text-center"
							th:text="${usuario.username}"></div>
						<h4 class="card-title text-center my-4">
							<a sec:authorize="hasRole('ROLE_ADVANCED_USER')"
								th:href="@{'/tarea/form/' + ${usuario.id}}"
								class="btn btn-secondary d-block mx-auto">crear Tarea</a>
						</h4>
						<div class="card-body">
							<div class="row">
								<div class="col-lg-12 mb-4 mb-sm-5">
									<div class="card card-style1 border-0 bg-dark">
										<div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
											<div class="row align-items-center">
												<div class="col-lg-6 mb-4 mb-lg-0 ">
													<img th:if="${usuario.foto != null}"
														class="img-thumbnail rounded " style="width: 200px;"
														th:src="@{'/uploads/' + ${usuario.foto}}"
														th:alt="${usuario.foto}" />

												</div>
												<!---------------------MOSTRAR DATOS USUARIO ----------------------------------------------->
												<div class="col-lg-6 px-xl-10 text-center">

													<ul class="list-group mx-auto">
														<li class="list-group-item list"
															th:text="'Nombre: ' + ${usuario.nombre}"></li>
														<li class="list-group-item"
															th:text="'Apellido: ' + ${usuario.apellido}"></li>
														<li class="list-group-item"
															th:text="'Email: ' + ${usuario.email}"></li>
														<li class="list-group-item"
															th:text="'Alta: ' +${#dates.format(usuario.createAt, 'dd-MM-yyyy')}"></li>
													</ul>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!----------------------MOSTRAR TAREAS--------------------------------------------------->

							<div th:if="${#lists.isEmpty(usuario.tareas)}"
								class="alert alert-info"
								th:text="'No hay tareas asignadas en el usuario ' + ${usuario.nombre}"></div>
							<table th:if="${not #lists.isEmpty(usuario.tareas)}"
								class="table table-striped my-4">
								<tbody class="text-light">
									<tr th:each="tarea : ${usuario.tareas}">
										<td><a class="text-decoration-none text-primary"
											th:href="@{'/tarea/ver/' + ${tarea.id}}"
											th:text="'#TAREA - ' + ${tarea.id}"></a> &nbsp;&nbsp; <span
											th:text="${tarea.titulo}"></span></td>
										<td style="text-align: right;"><small class="text-muted"
											th:text="${#dates.format(tarea.createAt, 'dd-MM-yyyy')}"></small>
											&nbsp;<a sec:authorize="hasRole('ROLE_ADVANCED_USER')"
											class="btn btn-danger btn-sm"
											th:href="@{'/tarea/eliminar/' + ${tarea.id}}"
											th:text="'eliminar'"
											onclick="return confirm('Estás seguro que deseas eliminar la tarea?');"></a>
										</td>
									</tr>
								</tbody>
							</table>


						</div>
					</div>

					<!-------------------------BOTÓN VOLVER ------------------------------------------------------->
					<div class="row justify-content-center">
						<div class="col-auto m-5">
							<a class="btn btn-outline-light px-5"
								th:href="@{/usuario/listar}">Usuarios</a>
						</div>
					</div>
					<br>
				</div>

			</div>
		</div>
	</div>

	<footer th:replace="plantilla/plantilla :: footer"></footer>

</body>
</html>
