<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head"></head>
<body>
	<header th:replace="plantilla/plantilla :: header"></header>
	<div class="container py-4">
		<div class="card bg-dark text-white">
				<!----------------------------------TÍTULO ----------------------------------------------->
			<div
				class="card-header text-warning font-weight-bold N h2 text-center"
				th:text="${titulo}"></div>
				
			<div class="card-body">
			
			<!-----------------ENLACE A CREAR TAREA-------------------------------------->
				<h4 class="card-title text-center">
					<a th:href="@{/tarea/form}" class="btn btn-secondary d-block">crear
						tarea</a>
				</h4>
				
				<!------------- LISTADO DE TAREAS----------------------------------------->
				<table class="table table-striped my-5">
					<tr class="text-light" th:each="tarea: ${tareas}">
						<td th:text="${tarea.titulo}"></td>
						<td th:text="${tarea.contenido}"></td>
						<!---  botones listado -->
						<td><a class="btn btn-secondary btn-xs"
							th:href="@{/tarea/ver/} + ${tarea.id}" th:text="ver"></a></td>
						<td><a class="btn btn-primary btn-sm"
							th:href="@{/tarea/form/} + ${tarea.id}" th:text="'editar'"></a></td>
						<td><a class="btn btn-danger btn-sm"
							th:href="@{/tarea/eliminar/} + ${tarea.id}"
							th:text="'eliminar'"
							onclick="return confirm('Estás seguro que deseas eliminar la tarea?');"></a></td>
						
					</tr>
				</table>
				
			</div>
			
				<nav th:replace="paginator-nav :: paginator"></nav>
		</div>
	</div>
	<footer th:replace="plantilla/plantilla :: footer"></footer>
</body>