<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="plantilla/plantilla :: head"></head>

<body>

    <!-- Encabezado -->
    <header th:replace="plantilla/plantilla :: header"></header>

    <div class="container py-1 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 md-8 col-lg-10 col-xl-12">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <!-- Título de la sección -->
                        <div class="card-header text-warning font-weight-bold N h2 text-left" th:text="${titulo}"></div>
                        <br>

                        <div class="card-body">

                            <!-- Si la lista de tareas está vacía -->
                            <div class="alert alert-warning text-center" role="alert" th:if="${#lists.isEmpty(tareas)}" th:text="'No hay tareas en acción.'"></div>

                            <!-- Si hay tareas en la lista -->
                            <div class="list-group" th:if="${not #lists.isEmpty(tareas)}">
                                <div class="list-group-item list-group-item-action flex-column align-items-start text-white bg-dark" th:each="tarea : ${tareas}">
                                    <!-- Información de la tarea -->
                                    <div class="d-flex w-100 justify-content-between align-items-center">
                                        <!-- Enlace a la tarea -->
                                        <a th:href="@{/tarea/ver/} + ${tarea.id}" th:text="'#TAREA - ' + ${tarea.id}" class="text-primary"></a>
                                        <!-- Enlace al usuario -->
                                        <a href="#" class="text-decoration-none text-primary" th:href="@{'/usuario/ver/' + ${tarea.usuario.id}}" th:text="'#' + ${tarea.usuario.username}"></a>
                                    </div>
                                    <div class="d-flex w-100 justify-content-start mt-2">
                                        <!-- Título de la tarea -->
                                        <h4 class="mb-2" th:text="${tarea.titulo}"></h4>
                                    </div>
                                    <div class="d-flex w-100 justify-content-start">
                                        <!-- Fecha de creación -->
                                        <small class="text-muted" th:text="${#dates.format(tarea.createAt, 'dd-MM-yyyy')}"></small>
                                    </div>
                                </div>
                                <br> <br>
                            </div>

                            <!-- Sección para el paginador si es necesario -->
                            <div class="content">
                                <!-- Paginador si es necesario -->
                                <!-- <nav th:replace="plantilla/paginator-nav :: paginator"></nav> -->
                            </div>
                        </div>

                        <!-- Botones para navegación -->
                        <div class="row justify-content-between">
                            <div class="col-auto m-5">
                                <a class="btn btn-outline-light px-5" th:href="@{'/index'}" th:text="'Menú principal'"></a>
                            </div>
                            <div class="col-auto m-5">
                                <a class="btn btn-outline-light px-5" th:href="@{'/usuario/listar'}" th:text="'Listado de usuarios'"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer th:replace="plantilla/plantilla :: footer"></footer>

</body>

</html>
