<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head"></head>
<body>

    <!-- Cabecera del sitio -->
    <header th:replace="plantilla/plantilla :: header"></header>

    <!-- Contenedor principal -->
    <div class="container py-1">
        <div class="card bg-dark text-center">
            <div class="card-header text-warning font-weight-bold h2">
                <h2>Oops, página no encontrada!</h2>
            </div>
            <div class="card-body text-white my-2">
                <h4 class="card-title">
                    <span th:text="${error}"></span>
                </h4>

                <h4 class="card-title text-center mt-3">
                    <a th:href="@{/index}" class="btn btn-secondary d-block mx-5" role="button">
                        Volver al inicio
                    </a>
                </h4>
            </div>
        </div>
    </div>

    <!-- Pie de página -->
    <footer th:replace="plantilla/plantilla :: footer"></footer>

</body>
</html>
